<div class="container-fluid loginbg">
    <div class="centered">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="card text-center py-4">
                    <div class="card-body">
                        <h5 class="card-title">Walcome to Airline</h5>
                        <p class="card-text my-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a class="btn btn-primary" type="button" (click)="loginWithGoogle()">
                            <i class="bi bi-google"></i> Login with Google</a>
                        <div>
                            <a class="btn" (click)="skipLogin()">Skip Login</a>
                        </div>
                    </div>
                </div> -->
                <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit(loginForm)">
                    <mat-card class="login_card">
                        <h2 class="text-center">Walcome to Login</h2>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter user name</mat-label>
                            <input class="w-100" formControlName="username" type="text" matInput
                                placeholder="User Name">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide" type="button">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <div class="mt-2 text-center">
                            <button mat-raised-button color="primary" type="submit">Login</button>
                        </div>
                    </mat-card>
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="api.isSpinner" class="d-flex justify-content-center full-spinner">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>