<!-- Form -->
<div class="card">
  <section>
    <form [formGroup]="matchForm" (ngSubmit)="saveMatch(matchForm)">
      <div class="px-4 py-3">
        <div class="row">
          <div class="col-md-12">
            <h4 class="card-title mb-3 pb-3 border-bottom">
              Match
            </h4>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="basic-url" class="form-label">Match Category</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><mat-icon>category</mat-icon></span>
                </div>
                <select class="form-select" formControlName="match_category" name="match_category">
                  <option value="">Select one</option>
                  <option *ngFor="let row of categoryList" [value]="row._id">
                    {{row.category_name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="basic-url" class="form-label">Match Tournament</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><mat-icon>category</mat-icon></span>
                </div>
                <select class="form-select" formControlName="match_tournament" name="match_tournament">
                  <option value="">Select one</option>
                  <option *ngFor="let row of tournamentList" [value]="row._id">
                    {{row.tournament_name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="basic-url" class="form-label">Team1</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><mat-icon>category</mat-icon></span>
                </div>
                <select class="form-select" formControlName="team1data" name="team1data">
                  <option value="">Select one</option>
                  <option *ngFor="let row of teamList" [value]="row._id">
                    {{row.team_name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="basic-url" class="form-label">Team2</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><mat-icon>category</mat-icon></span>
                </div>
                <select class="form-select" formControlName="team2data" name="team2data">
                  <option value="">Select one</option>
                  <option *ngFor="let row of teamList" [value]="row._id">
                    {{row.team_name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="basic-url" class="form-label">Dream team</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><mat-icon>cloud_upload</mat-icon></span>
                </div>
                <input class="form-control" placeholder="Name" type="file" (change)="imageUpload($event)" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="basic-url" class="form-label">Status</label>
            <section class="pt-1">
              <mat-checkbox formControlName="status" name="status">Active</mat-checkbox>
            </section>
          </div>
          <div class="col-md-6">
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Input disabled</mat-label>
                <input matInput [matDatepicker]="dp3" disabled>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              </mat-form-field>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <input [ngxTimepicker]="picker2">
              <ngx-material-timepicker #picker2></ngx-material-timepicker>
            </p>
          </div>

          <div class="col-md-12">
            <div class="mb-2">
              <label for="description" class="form-label">Prediction Images</label>
              <input (change)="imageUpload($event)" hidden type="file" class="form-control" id="product_image"
                placeholder="Enter : XXl">
            </div>
            <div class="mb-3">
              <button onclick='product_image.click()' type="button" class="btn btn-success shadow">
                Upload Image
              </button>
            </div>
            <div *ngIf="this.matchForm.get('prediction_img').controls.length" class="mb-3">
              <ng-container *ngFor="let image of this.matchForm.get('prediction_img').controls; let i = index">
                <span style="position: relative;">
                  <i class=" deleteIcon bi-trash-fill" (click)="imageRemove(i)"></i>
                  <img [src]="image.value" alt="" height="150" width="150" style="padding: 12px;object-fit: cover;">
                </span>
              </ng-container>
            </div>
          </div>

          <div class="col-md-12 mt-3 text-center">
            <button (click)="back()" type="button" mat-raised-button color="warn" class="me-2">
              Cancel
            </button>
            <button *ngIf="isAddForm" type="submit" mat-raised-button color="primary">
              Save
            </button>
            <button *ngIf="!isAddForm" (click)="updateMatch(matchForm, 'update')" type="button" mat-raised-button
              color="primary" class="me-2">
              Update
            </button>
            <button *ngIf="!isAddForm" (click)="updateMatch(matchForm, 'exit')" type="button" mat-raised-button
              color="primary">
              Update and Exit
            </button>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>