<!-- Form -->
<div class="card">
  <section>
    <form [formGroup]="teamForm" (ngSubmit)="saveTournament(teamForm)">
      <div class="px-4 py-3">
        <div class="row">
          <div class="col-md-12">
            <h4 class="card-title mb-3 pb-3 border-bottom">
              Team
            </h4>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="basic-url" class="form-label">Team Name</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><mat-icon>add</mat-icon></span>
                </div>
                <input class="form-control" placeholder="Team Name" formControlName="team_name" name="team_name"
                  type="text" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="basic-url" class="form-label">Category</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><mat-icon>category</mat-icon></span>
                </div>
                <select class="form-select" formControlName="category_id" name="category_id">
                  <option value="">Select category</option>
                  <option *ngFor="let row of catlist" [value]="row.category_id">
                    {{row.category_name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="basic-url" class="form-label">Team Short Name</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><mat-icon>signal_cellular_alt</mat-icon></span>
                </div>
                <input class="form-control" placeholder="Team short name" formControlName="team_short_name"
                  name="team_short_name" type="text" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="basic-url" class="form-label">Team Image</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><mat-icon>cloud_upload</mat-icon></span>
                </div>
                <input class="form-control" placeholder="Name" type="file" (change)="imageUpload($event)" />
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <section class="pt-1">
              <mat-checkbox formControlName="status" name="status">Status</mat-checkbox>
            </section>
          </div>

          <div class="col-md-12 mt-3 text-center">
            <button (click)="back()" type="button" mat-raised-button color="warn" class="me-2">
              Cancel
            </button>
            <button *ngIf="isAddForm" type="submit" mat-raised-button color="primary">
              Save
            </button>
            <button *ngIf="!isAddForm" (click)="updateTournament(teamForm, 'update')" type="button" mat-raised-button
              color="primary" class="me-2">
              Update
            </button>
            <button *ngIf="!isAddForm" (click)="updateTournament(teamForm, 'exit')" type="button" mat-raised-button
              color="primary">
              Update and Exit
            </button>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>