.example-container {
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    user-select: none;
}

.full-width {
    width: 100%;
}

.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.menu-button.rotated {
    transform: rotate(180deg);
}

.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
}

.submenu.expanded {
    transform: scaleY(1);
}

.mat-sidenav {
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 230px;
    background: #fff;
    padding: auto;
    box-shadow: 0 16px 12px -6px rgb(0 0 0 / 56%);
}

.mat-drawer-side {
    border: none;
}

.router-link-active {
    background: rgba(0, 0, 0, .04);
    border-radius: 8px;
}

button {
    border-radius: 10px;
    margin: 4px 0;
}