<div class="card">
  <div class="px-4 py-3" [formGroup]="appInfoForm">
    <div class="row">
      <!-- <div class="card card-body"> -->
      <div class="col-md-12">
        <h4 class="card-title mb-3 pb-3 border-bottom">
          App Details
        </h4>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>App Id</label>
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><mat-icon>app_shortcut</mat-icon></span>
            </div>
            <input class="form-control" placeholder="App id" formControlName="app_id" name="app_id" type="text">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>App Version</label>
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><mat-icon>update</mat-icon></span>
            </div>
            <input class="form-control" placeholder="App version" formControlName="app_version" name="app_version"
              type="text">
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>Ads ids</label>
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><mat-icon>format_list_bulleted</mat-icon></span>
            </div>
            <textarea class="form-control" rows="3" placeholder="Ads ids" formControlName="random_ads"
              name="random_ads"></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <mat-checkbox formControlName="is_adsshow" name="is_adsshow" class="me-4">Ads Show</mat-checkbox>
        <mat-checkbox formControlName="app_update" name="app_update">Force App Update</mat-checkbox>
      </div>
      <div class="col-md-12 mt-2 text-end">
        <div class=" example-button-row">
          <button mat-raised-button color="warn" class="me-2">Cancel</button>
          <button mat-raised-button color="primary" (click)="saveData(appInfoForm)">Save</button>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>